<!DOCTYPE html>
<html>
  <head>
    <title>Datatable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
   
  </head>

  <body>
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
      <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId            : '751044975238691',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.1'
      });
    };
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="1890618444519615"
        theme_color="#67b868">
      </div>


    <%= yield %>
      <!--      messenger widget      -->

  </body>
</html>
